@import 'https://fonts.googleapis.com/css?family=Oswald';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab|Rosario';
body {
  background-color: aliceblue;
}
.home-index {
  margin-top: 50px;
}
.logo-home {
    display: block;
    margin: 0 auto;
}


.home-index{
  padding: 20px;
}
.home-index img{
  display: block;
  margin: 0px auto;
}
.home-index a{
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif !important;
  color: rgb(235, 88, 88) !important;
}
.home-index p{
  font-family: 'Raleway', sans-serif !important;
}
.link{
  margin-top: 20px;
  margin-bottom: 10px;
}
.version{
  margin-top: 20px;
}